[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = git@github.com:glfw/glfw.git
[submodule "dependencies/epsilon"]
	path = dependencies/epsilon
	url = git@github.com:Jojendersie/Epsilon-Intersection.git
[submodule "dependencies/glew"]
	path = dependencies/glew
	url = git@github.com:Perlmint/glew-cmake.git
[submodule "dependencies/assimp"]
	
	path = tools/meshprocessor/dependencies/assimp

	url = https://github.com/assimp/assimp
[submodule "dependencies/glew-cmake"]
	path = dependencies/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "tools/meshprocessor/dependencies/quickhull"]
	path = tools/meshprocessor/dependencies/quickhull
	url = git@github.com:akuukka/quickhull.git
