/Debug
/Release
/RelWithDebInfo
/x64
/win32
/lib
/build
/dependencies/SDL

*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.filters
*.cmake
*.tlog
*.obj
*.rule
*.ilk
*.pdb
*.log
*.cxx
*.bin
*.sln
*.vcxproj
*.filters
*.db
*.cmake

bin/
.vs/
wimp_s.dir/
epsilon.dir/

CMakeCache.txt
CMakeFiles/

config.json